@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf6eb;
  --foreground: #faf6eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf6eb;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-thunder {
  font-family: var(--font-thunder), sans-serif;
}

/* Hide the slider thumb for WebKit browsers like Chrome, Safari */
.hide-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
}
pre {
  white-space: pre-wrap; /* Preserve whitespace but allow wrapping */
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* For better browser compatibility */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Hide the slider thumb for Firefox */
.hide-thumb::-moz-range-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

/* Hide the slider thumb for Internet Explorer */
.hide-thumb::-ms-thumb {
  appearance: none;
  width: 0;
  height: 0;
}

ol,
ul{
  list-style: disc;
  margin: 0;
  padding: 0px 20px;
}